{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Hangman</h1>
  </div>
  <h2>Hydration Nation</h2>
  <p><strong>Eric Feigen</strong>
  <br>
  <ul>
    <li>something</li>
    <li>something else</li>
    <li>something more</li>
  </ul>
  </p>
  <p><strong>Samantha Goldman</strong>
  <br>
  <ul>
    <li>something</li>
    <li>something else</li>
    <li>something more</li>
  </ul>
  </p>
  <p><strong>Eric Wang</strong>
  <br>
  <ul>
    <li>something</li>
    <li>something else</li>
    <li>something more</li>
  </ul>
  </p>
{% endblock %}
