{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Hangman</h1>
  </div>
  <h2>Hydration Nation</h2>
  <p><strong>Eric Feigen</strong>
  <br>
  <ul>
    <li>Takoma Park born and raised.</li>
    <li>I love to play soccer and i'm a major Black Mirror enthusiast </li>
    <li>If I could travel anywhere in the world, I'd go to Ireland. </li>
  </ul>
  </p>
  <p><strong>Samantha Goldman</strong>
  <br>
  <ul>
    <li>Born in Kazakhstan</li>
    <li>I play ukulele, piano, and guitar</li>
    <li>If I could travel anywhere in the world, I'd go to Japan or India.</li>
  </ul>
  </p>
  <p><strong>Eric Wang</strong>
  <br>
  <ul>
    <li>Born in the Mass!</li>
    <li>I'm a proud member of Brandeis Club Soccer.</li>
    <li>I would lvoe to go to Mexico.</li>
  </ul>
  </p>
{% endblock %}
