{% extends 'fancylayout.html' %}

{% block content %}
    <div class="jumbotron">
      <h1>Hangman</h1>
    </div>
    <h1>About hangman</h1>
    <img src="https://i.ytimg.com/vi/cGOeiQfjYPk/maxresdefault.jpg"
    alt="how to play"
    height="100">
    <br>
    <hr>
    <p>The computer will pick a random word. <br>
      The player will then have to guess this word by<br>
      inputting one letter at a time. <br>
      The game is over when the
      player has <br> used all of their guesses or <br>
      they have reached the limit of guesses allowed. <br>
      </p>

{% endblock %}
